.holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    max-width: 1333px;
    margin: 0 auto;
}

@media screen and (min-width: 766px){ 
    .holder .mcard {
        width: 49%;
    }
}