<main *ngIf="movie;then detail else loading">
</main>

<ng-template #detail>
  <img src="{{data.getPosterPath(movie.backdrop_path, 3, '')}}" alt="">
  <h2 class="title">
    {{movie.title}}
    <br>
    <small class="small">{{movie.original_title}}</small>
  </h2>
  <label>
    Aprovação:
    <progress value="{{movie.vote_average}}" max="10"></progress>
  </label>
  <p>
    {{movie.overview}}
  </p>
</ng-template>
<ng-template #loading>
  <app-preloader></app-preloader>
</ng-template>

<!--
  adult: boolean;
  backdrop_path: string;
  belongs_to_collection: { id: number; name: string; poster_path: string; backdrop_path: string; };
  budget: number;
  genres: { id: number; name: string; }[];
  homepage: string;
  id: number;
  imdb_id: string;
  original_language: string;
  original_title: string;
  overview: string;
  popularity: number;
  poster_path: string;
  production_companies: { id: number; logo_path: string; name: string; origin_country: string; }[];
  production_countries: { iso_3166_1: string; name: string; }[];
  release_date: Date;
  revenue: number;
  runtime: number;
  spoken_languages: { iso_639_1: string; name: string; }[];
  status: string;
  tagline: string;
  title: string;
  video: boolean;
  vote_average: number;
  vote_count: number;
-->