.button {
    height: 48px;
    width: 100%;
    margin: 15px 0;

    border: none;
    border-radius: 5px;

    box-shadow: inset 0 0 4px -1px #666;
    background-color: #10ca79;
    color: whitesmoke;

    font-weight: 600;
    line-height: 1em;
}