.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row nowrap;

    height: 100%;


    &__item {
        padding: 0 1.9em;

        &--active {
            background-color: rgba($color: white, $alpha: 0.25);
        }
    }
}