html {
    height: 100%;
    overflow: hidden;
}

a {
    color: inherit;
}

:root {
    --accent: #FF521B;
    --base-dark: #FC9E4F;
    --base-light: #F2F3AE;
    --base: #EDD382;
    --dark-counter: #020122;
    --rgb-accent: 255, 82, 27;
    --rgb-base-dark: 252, 158, 79;
    --rgb-base-light: 242, 243, 174;
    --rgb-base: 237, 211, 130;
    --rpg-dark-counter: 2, 1, 34;

    --screen-lg: 960px;
    --space-lg: 64px;
    --space-st: 32px;
    --space-m: 16px;
    --space-s: 8px;
}

body {
    background-color: var(--base-light);
    color: var(--dark-counter);
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    transform-style: preserve-3d;
}

body * {
    box-sizing: border-box;
}

.heading,
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

h1,
.heading--1 {
    font-size: 2.2rem;
}

.navbar {
    background-color: var(--dark-counter);
    color: var(--accent);
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__wrapper {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--screen-lg);
}

.navbar__logo-section {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}

.navbar__menu {
    display: flex;
    height: 100%;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.navbar__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    text-decoration: none;
    width: 100%;
}

.navbar__item::after {
    background-color: var(--accent);
    content: '';
    height: 2px;
    transition: width .3s;
    width: 0;
}

.navbar__item:hover::after {
    width: 80%;
}

.navbar__item--active::after {
    width: 40%;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -100px;
    min-height: 85vh;
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
    width: 100%;
}

.header::before {
    background-image: url("https://picsum.photos/1920/1094");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(var(--rgb-accent), 0.3);
    content: "";
    display: block;
    left: 0;
    left: 0;
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2.1);
    z-index: -1;
}

.article {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--screen-lg);
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}

.article__section:nth-child(odd) {
    background-color: var(--base);
    margin: var(--space-m) calc(-1 * var(--space-st));
    padding: var(--space-st);   
}

.article__title {
    color: var(--accent);
    margin-top: var(--space-s);
}

.img-row {
    display: flex;
    margin: var(--space-lg) calc(-1 * var(--space-m));
    padding-left: var(--space-s);
    padding-right: var(--space-s);
    width: var(--screen-lg);
}

.img-row__item {
    flex: 1 1 auto;
    margin: var(--space-s);
}

.parallax {
    height: 400px;
    margin: var(--space-lg) calc(-1 * var(--space-st));
    overflow: hidden;
    position: relative;
}

.parallax__img {
    display: block;
    position: absolute;
    transform-origin: center center 0;
    transform: translateZ(-.5px) scale(2);
    width: 100%;
    z-index: -1;
}

.content-cols {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.content-cols__text {
    margin-right: var(--space-m);
}

.footer {
    align-items: center;
    background-color: var(--base);
    display: flex;
    height: 30vh;
    justify-content: center;
    padding: var(--space-lg);
    width: 100%;
}

.footer__content {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--screen-lg);
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}