.footer-midia {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: .8rem;

    &__heading {
        display: inline-block;
        width: 100%;
        color: inherit;
        font-size: .8rem;
        font-weight: 400;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 55px;
        max-width: 220px;

        > * + * {
            margin-left: 3px;
        }
    }
}