.site-footer {
    margin-top: 2.4rem;

    color: white;

    $background-color: $footer-medium;
    background-color: $background-color;
    border-bottom: solid 1px $background-color;

    &__contato {
        background-color: $footer-light;
        box-shadow: inset 0 10px 3px -9px $footer-dark;
        padding: 0;
        @include for-tablet-landscape-up {
            padding: 0 $block-padding;
        }
    }

    %mobile-row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;
        background-color: $footer-dark;

        @include for-tablet-landscape-up {
            display: none;
        }
    }

    &__link-list {
        padding: 0 $block-padding 20px;
    }

    &__badges {
        @extend %mobile-row;
        height: 61px;
        & > * + * {
            margin-left: 3px;
        }
    }

    &__social {
        @extend %mobile-row;
        height: 57px;
        background-color: $footer-dark;
        & > * + * {
            margin-left: 38px;
        }
    }

    &__midia {
        display: none;
        padding: 22px $block-padding 45px;
        border-top: solid 1px $footer-light;

        @include for-tablet-landscape-up {
            display: block;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: column-reverse;

        height: 73px;

        background-color: $footer-dark;
        color: #7aced9;

        text-align: center;
        font-size: 12px;
        line-height: 1.2em;

        &__badges {
            display: none;
        }
        padding: 0 $block-padding;

        @include for-tablet-landscape-up {
            flex-flow: row nowrap;
            justify-content: space-between;
            font-size: .8rem;
        }
    }

    &__container {
        height: 100%;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        flex-flow: inherit;
    }
}
